/* style.css */

.title {
    color: sandybrown;
    background-color: purple;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.subtitle {
    color: orange;
    background-color: ;
    font-size: ;
    font-weight: ;
    text-align: center;
}

.info {
    color: green;
    background-color: ;
    font-size: ;
    font-weight: ;
    text-align: ;
}

.recipe-list {
    color: ;
    background-color: ;
    font-size: ;
    font-weight: ;
    text-align: center;
    display: ;
    padding: auto;
    margin: auto;
}

.list-item {
    color: blue;
    background-color: ;
    font-size: 25px;
    font-weight: ;
    text-align: ;
    display: inline-block;
    margin: 0;
    padding: 0 15px;
}

p {
    color: violet;
    background-color: ;
    font-size: ;
    font-weight: ;
    text-align: ;
}